.App {
  text-align: center;
}

.product-link {
  color: #202328;
}

.product-link:hover {
  color: #F0712D;
}

.product-div {
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  text-align: left;
}

.thumbnail-img {
  max-width: 250px;
  margin-bottom: 0px;
}

.thumbnail-img:hover {
  box-shadow: 0px 0px 5px grey;
}

.product-div h4 {
  max-width: 250px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.form-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.login-form-container {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

label {
  text-align: left;
}

.city-input {
  min-width: 280px;
  padding-bottom: 15px;
}

.state-input {
  width: 85px;
}

.zip-input {
  width: 85px;
}

.page-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.cart-right {
  text-align: left;
  padding: 20px;
  color: white;
  background-color: #FD7322;
  border-radius: 3px;
  box-shadow: 1px 1px 5px grey;
}

@media (max-width: 650px) {
  .cart-left {
    width: 100%;
    float: left;
    text-align: center;
    padding: 20px;
    margin-top: -50px;
  }

  .cart-right {
    width: 80%;
    clear: both;
    text-align: left;
    margin: 0 auto 40px auto;
  }
}

@media (min-width: 651px) {
  .cart-left {
    width: 67%;
    float: left;
    text-align: left;
    padding: 20px 0 20px 0;
    margin-top: -50px;
  }

  .cart-right {
    width: 33%;
    float: right;
  }
}

.cart-right em {
  float: right;
}

.cart-divider {
  background-color: white;
}

.removal-badge {
  position: relative;
  top: 35px;
  left: 233px;
  width: 31px;
  height: 31px;
}

.badge-x {
  margin: 0 0 0 -3px;
  padding: 0;
}
