.App {
  text-align: center;
}

.product-div {
  display: inline-block;
  margin: 15px;
  text-align: center;
}

.thumbnail-img {
  max-width: 250px;
}

.form-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.login-form-container {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

label {
  text-align: left;
}

.city-input {
  min-width: 280px;
  padding-bottom: 15px;
}

.state-input {
  width: 85px;
}

.zip-input {
  width: 85px;
}

.page-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.cart-left {
  width: 67%;
  float: left;
  text-align: left;
  padding: 20px;
}

.cart-right {
  width: 33%;
  float: right;
  text-align: left;
  padding: 20px;
  color: white;
  background-color: #FD7322;
  border-radius: 3px;
  box-shadow: 1px 1px 5px grey;
}
