.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.form-input {
  text-align: left;
}

.state-input {
  width: 75%;
}

.cart-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.cart-left {
  width: 67%;
  float: left;
  text-align: left;
  padding: 20px;
}

.cart-right {
  width: 33%;
  float: right;
  text-align: left;
  padding: 20px;
  color: white;
  background-color: #FD7322;
  border-radius: 3px;
  box-shadow: 1px 1px 5px grey;
}
